/*公用居中样式*/
.common_Width{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.freshman_zone{
    width: 100%;
    cursor: pointer;
}
.slide1{cursor: pointer}
.slide2{cursor: pointer}
.slide3{cursor: pointer}
.slide4{cursor: pointer}
.slide5{cursor: pointer}
.slide6{cursor: pointer}
.slide7{cursor: pointer}
.overview1{cursor: pointer}
.overview2{cursor: pointer}
.overview3{cursor: pointer}
.overview4{cursor: pointer}
.overview5{cursor: pointer}
.overview6{cursor: pointer}
.top_welcome_NJUPT{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #FFFFFF;
}
.top_welcome_NJUPT .top_welcome_NJUPT_box{
    width: 100%;
    height: 55px;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.top_welcome_NJUPT .top_welcome_NJUPT_box .icon_logo{
    float: left;
    width: 60px;
    height: 50px;
    top: 5px;
    left: 0;
    background: url(../images/首页/左上角小熊.png) left 10px center no-repeat;
    background-size: 40px 40px;
}
.top_welcome_NJUPT .top_welcome_NJUPT_box .title{
    width: 100%;
    padding-left: 70px;
    display: block;
    height: 55px;
    background: url(../images/首页/顶部welcome.png) center no-repeat;
    background-size: 250px 53px;
}

/*欢迎内容（导航）*/
.welcome_content{
    padding-top: 55px;
    width: 100%;
    /*background-color: red;*/
}
/*南邮概况*/
.welcome_content p{
    font-size: 20px;
    color: #FFFFFF;
}
.welcome_content .box1 p{
    text-align: left;
    height: 33px;
    line-height: 33px;
}
.welcome_content .box1{
    padding: 0 15px;
}
.welcome_content .box1 a{
    width: 100%;
    display: block;
    border-radius: 14px;
    padding-left: 10px;
    background-color: rgba(68, 93, 170, 0.46);
    /*pointer-events: auto;*/
}
.welcome_content .box1 a:hover{
    background-color: rgba(68, 93, 170, 0.56);
}
.welcome_content .box1 a img {
    width: 100%;
    height: 17%;
    padding: 2px 5px;
}

/*其他介绍*/
.common_bgColor{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}
.box2{
    width: 100%;
    padding: 0 15px;
}
 .box2 a{
     display: block;
     margin-top: 25px;
     width: 100%;
     position: relative;
}
.box2 .bgColor{
    background-color: rgba(199,48,28,0.14);
}
.box2 .bgColor:hover{
    background-color: rgba(199,48,28,0.24);
}
.box2 a p{
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    left: 8px;
}
.box2 a img{
    width: 100%;
    border-radius: 10px;
}
.bgColor1{
    background-color: rgba(155,181,174,0.4);
}.bgColor1:hover{
     background-color: rgba(155,181,174,0.5);
 }
.bgColor2{
    background-color: rgba(63,81,181,0.4);
}
.bgColor2:hover{
    background-color: rgba(63,81,181,0.5);
}
.bgColor3{
    background-color: rgba(177,189,250,0.23);
}
.bgColor3:hover{
    background-color: rgba(177,189,250,0.33);
}
.bgColor5{
    background-color: rgba(177,189,250,0.1);
    cursor: pointer;
}
.bgColor5:hover{
    background-color: rgba(177,189,250,0.2);
}

/*技术支持*/
.ECLass_tech{
    width: 100%;
    height: 30px;
    position: relative;
}
.tech_support{
    position: absolute;
    right: 0;
    width: 100%;
    height: 20px;
    background: url(../images/首页/底部技术支持.png) right center no-repeat;
    background-size: 50% 100%;
}


/*南邮概况*/
/*头顶标题部分*/
.headerBar{
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 15px;
}
.headerBar .overview_icon{
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(../images/南邮概况/arrowhead7.png) left 15px center no-repeat;
    background-size: 16px 16px;
}
.headerBar .overview_title{
    width: 100%;
    padding-left: 45px;
    position: absolute;
    text-align: center;
    text-indent: -3em;
    height: 50px;
    line-height: 45px;
    /*border-bottom:  2px solid crimson;*/
}
.headerBar .line{
    width: 30%;
    display: block;
    background-color: #d8505c;
    height: 3px;
    position: absolute;
    top: 45px;
    left: 33%;
}


/*主题内容部分*/
.overview_Content{
    width: 100%;
    height: 150px;
}
.overview_Content ul{
    width: 100%;
}
.overview_Content ul li{
    width: 50%;
    float: left;
}
.overview_Content ul li a{
    width: 100%;
    display: block;
}
.overview_Content ul li a img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 10px;
}
.overview_Content ul li a p{
    display: block;
    text-align: center;
    font-weight: bold;
}


/*南邮概况 - 学校简介*/
.college_intro .content{
    padding: 0 15px;
    cursor: pointer;
}
.college_intro p{
    text-indent: 2em;
}

/*现任领导*/
.now_leader{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    cursor: pointer;
}
.leader_Content{
    width: 100%;
}
.leader_Content ul{
    width: 100%;
}
.leader_Content ul li{
    width: 50%;
    height: 185px;
    float: left;
    margin: 25px 0;
}
.leader_Content ul li a{
    width: 100%;
    display: block;
}
.leader_Content ul li a img{
    border-radius: 25px;
    display: block;
    width: 150px;
    height: 185px;
    margin: 0 auto;
    padding: 10px;
}
.leader_Content ul li a p{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

/*电子地图*/
.electronicMap ul li p{
    font-size: 20px;
    cursor: pointer;
}
.bgColor5{
    background-color: rgba(63,81,181,0.4);
    /*border-radius: 25px;*/
}
.bgColor5:hover{
    background-color: rgba(63,81,181,0.5);
}
.bgColor6{
    background-color: rgba(83,181,63,0.3);
    /*border-radius: 25px;*/
    cursor: pointer;
}
.bgColor6:hover{
    background-color: rgba(83,181,63,0.4);
    /*border-radius: 25px;*/
}
.bgColor7{
    background-color: rgba(159,63,181,0.23);
    /*border-radius: 25px;*/
}
.bgColor7:hover{
    background-color: rgba(159,63,181,0.33);
    /*border-radius: 25px;*/
    cursor: pointer;
}
.xianlin_map,.san_map,.suo_map{
    width: 100%;
    cursor: pointer;
}
.san_map{
    cursor: pointer;
}
.suo_map{
    cursor: pointer;
}
.imgBox3{
    margin-top: 40px;
}
.imgBox3 img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
}
.imgBox4 img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
}



/*生活攻略界面*/
.life_hint{
    width: 100%;
}
.life_header{
    width: 100%;
    height: 65px;
    position: fixed;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    z-index: 9999;
    background-color: #FFFFFF;
}
.life_header .life_icon{
    position: absolute;
    width: 22%;
    /*高度与父容器相等，采用流式布局*/
    height: 100%;
    background: url(../images/生活攻略/left42_01.png) left 25.5% top 41% no-repeat;
    background-size: 50% 50%;
}
.life_header .life_title img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2.5% 24%;
}

/*生活攻略 - 中间内容*/
.middleBar{
    width: 100%;
    padding-top: 65px;
}
.life_style{
    width: 100%;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    height: 100%;
}
.life_style ul{
    width: 100%;
}
.life_style ul li{
    width: 25%;
    float: left;
    border-right: #666666 1px dotted;
    background-color: #243D99;
}
.life_style ul li:hover{
    background-color: #003bb3;
}
.life_style ul li:last-child{
    border: none;
}
.life_style ul li a{
    width: 100%;
}
.life_style ul li a p{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    height: 20px;
    line-height: 10px;
}
.life_style ul li a img{
    display: block;
    width: 100%;
    padding: 10px;
}

.WCTNJUPT{
    position: relative;
    width: 100%;
    padding: 15px 0 0 10px;
    border-bottom: 1px dotted #666666
}
.WCTNJUPT h3{
    height: content-box;
}

.WCTNJUPT p{
    font-size: 14px;
    color: #999999;
    margin:10px 0 15px 0;
}


/*生活攻略 - 快速访问*/
.middle_life_content{
    width: 100%;
    /*position: relative;*/
}
.middle_life_content .life_icon2{
    float: left;
    width: 4px;
    height: 18px;
    background-color: #243D99;
    margin:4% 4%;
}
.middle_life_content .quick_visit{
    width: 100%;
    display: block;
    padding:3% 4%;
}

.life_content{
    width: 100%;
    height: 50%;
}
.life_content ul{
    width: 100%;
    border-bottom: 1px dotted #666666;
    /*margin-top: 15px;*/
    height: 304px;
 }
.life_content ul li{
    width: 25%;
    float: left;
    height: 100px;
    border-right: 1px dotted #666666;
    border-top: 1px dotted #666666;
}
.life_content ul li:nth-child(4n){
    border-right: none;
}
.life_content ul li a{
    width: 100%;
    display: block;
}
.life_content ul li a p{
    text-align: center;
    display: block;
    color: black;
    font-size: 13px;
    margin-top: 8px;
 }
.life_content ul li a img{
    padding-top: 10px;
    width: 40%;
    display: block;/*有了这个再加上margin: 0 auto 才居中*/
    margin:  0 auto;
}


/*常用网站以及应用*/
.bottom_life_content{
    width: 100%;
    position: relative;
}
.bottom_life_content .life_icon2{
    position: absolute;
    width: 4px;
    height: 17px;
    background-color: #243D99;
    top:18px;
    left: 15px;
}
.bottom_life_content .normal_web{
    width: 100%;
    display: block;
    padding:15px 0 0 25px;
}

.life_content2{
    width: 100%;
}
.life_content2 ul{
    width: 100%;
    height: 85px;
    margin-top: 15px;
    border-bottom: 1px dotted #666666;
    border-top: 1px dotted #666666;
}
.life_content2 ul li{
    height: 85px;
    width: 25%;
    float: left;
    border-right: 1px dotted #666666;
}
.life_content2 ul li a {
    width: 100%;
    display: block;
}
.life_content2 ul li a img{
    display: block;
    margin: auto;
}
.life_content2 ul li a img.size1{
    width: 105%;
    padding-top: 15px;
}
.life_content2 ul li a img.size2{
    width: 60%;
    padding-top: 5px;
}
.life_content2 ul li a img.size3{
    width: 55%;
    padding-top: 8px;
}
.life_content2 ul li a img.size4{
    width: 100%;
    padding:10px 0 3px 3px;
}
.life_content2 ul li:last-child{
    border-right: none;
}
.life_content2 ul li a p{
    font-size: 13px;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}
.bottom_tech_support{
    display: block;
    background: url(../images/生活攻略/右下角技术支持.png) right center no-repeat;
    height: 20px;
    background-size: 120px 22px;
}


/*新生导航界面*/
.Guide_system{
    /*获取当前设备高度*/
    height: 100vh;
    width: 100%;
    background: url(../images/新生导航/背景图.jpeg) no-repeat;
    background-size: 100% 100vh;
}
.headColor{
    background-color: #243D99;
}
.headerBar .overview_white_icon{
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    background: url(../images/南邮概况/arrowhead7_01_white.png) left 15px center no-repeat;
    background-size: 16px 16px;
}
.headColor h3{
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    line-height: 45px;
    text-indent: -3em;
}

.guide_list{
    width: 100%;
}
.guide_list ul{
    width: 100%;
    margin-top: 25%;
    height: 100%;
}
.guide_list ul li{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.guide_list ul li a{
    width: 100%;
    display: block;
}
.guide_list ul li a img{
    height: 100%;
    width: 100%;
    display: block;
}
.guide_list ul li a img.odd{
    padding: 10px 10px 12px 15px;

}
.guide_list ul li a img.even{
    padding: 10px 15px 12px 10px;
}
.guide_list ul li a h4{
    width: 90.625%;
    text-align: center;
    color: #FFFFFF;
    background-color: #243D99;
    margin: 0 auto;
    padding: 5px 5px;
}
.guide_list ul li a h4:nth-child(3n),
.guide_list ul li a h4:nth-child(4n){
    margin-bottom: 50px;
}


/*技能学习*/
.skill_learn{
    width: 100%;
}
.skill_header{
    width: 100%;
    position: relative;
    height: 100%;
    box-shadow: 1px 1px 5px;
}
/*.skill_header .skill_icon{*/
    /*width: 47px;*/
    /*height: 45px;*/
    /*position: absolute;*/
    /*background: url(../images/技能学习/left42_01.png)left 15px top 12px no-repeat;*/
    /*background-size: 24px;*/
/*}*/
.skill_header .learnSkills{
    width: 100%;
}
.skill_header .learnSkills img{
    display: block;
    width: 50%;
    height: 50px;
    margin-left: 85px;
    margin-top: 5px;
}
.imgBox{
    width: 100%;
}
.imgBox img{
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 10px;
}
.skill_list{
    width: 100%;
}
.skill_list ul{
    width: 100%;
    border-bottom: 6px solid #CCCCCC;
    padding-bottom: 10px;
}
.skill_list ul li{
    width: 33.3%;
    float: left;
    margin-bottom: 20px;
}
.skill_list ul li p{
    display: block;
    margin: 0 auto;
    width: 65%;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
}
.skill_list ul li p:hover{
    opacity: 0.9;
}
.skill_list ul li p.C{
    background-color: #8694D3;
}
.skill_list ul li p.C_plus_plus{
    background-color: #84888B;
}
.skill_list ul li p.Java{
    background-color: #CBABD0;
}
.skill_list ul li p.Python{
    background-color: #FF7EAA;
}
.skill_list ul li p.html{
    background-color: #4BB3AA;
}
.skill_list ul li p.photoshop{
    background-color: #99CB5A;
}
/*推荐网站*/
.recommendWeb{
    width: 100%;
    position: relative;
}
.recommendHead{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #CCCCCC;
}
.recommendWeb .recommendHead p{
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    margin-left: 15px;
}
.recommendWeb .recommendHead span{
    display: block;
    width: 10%;
    background-color: #d8505c;
    float: left;
    height: 4px;
    margin-left: -45px;
    margin-top: 34px;
}
.recommendContent{
    width: 100%;
    margin-top: 1vh;
}
.recommendContent .orderList{
    width: 100%;
}
.recommendContent ol li{
    width: 100%;
}
.recommendContent ol li p{
    display: block;
    width: 100%;
    font-size: 14px;
    text-indent: 1em;
    /*超过屏幕宽度的省略号显示*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommendContent ol li:first-child p{
    /*margin: 10px 0;*/
}
.recommendContent ol li a:hover{
    color: #243D99;
}
.bottom_encourage{
    width: 100%;
}
.bottom_encourage img{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    margin-bottom: 15px;
}

/*院系概览*/
.overviewMajor{
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
}
.overviewMajor .headerMajor{
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
    overflow: hidden;
}
.headerMajor .homeMenu{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 5px;
}
.headerMajor .homeMenu img{
    width: 70%;
    height: 70%;
}
.headerMajor .NJUPT{
    width: 100%;
}
.headerMajor .NJUPT img{
    width: 60%;
    height: 60%;
    margin-left: 19%;
}
.middleMajor{
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}
.middleMajor img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    border: 1px solid black;
}
.InstituteIntro{
    width: 100%;
}
.InstituteIntro ul{
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    height: 150vh;
}
.InstituteIntro ul li{
    width: 33.33333333333333333333%;
    float: left;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    height: 25vh;
    padding: 7% 0;
}
.InstituteIntro ul li:nth-child(3n){
    border-right: none;
}
.InstituteIntro ul li a{
    width: 100%;
    height: 100%;
}
.InstituteIntro ul li .now{
    height: 25%;
    margin-top: 25%;
}
.InstituteIntro ul li img{
    width: 50%;
    height: 57%;
    display: block;
    margin: 0 auto;
    /*margin: auto 0;*/
}
.InstituteIntro ul li p{
    display: block;
    text-align: center;
    margin-top: 10%;
    font-size: 13px;
}
.bottomMajor{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    padding-top: 1vh;
    overflow: hidden;
}
.bottomMajor ul{
    width: 100%;
    position: relative;
}
.bottomMajor ul li{
    width: 33.333333%;
    float: left;
}
.bottomMajor ul li{
    text-align: center;
}
.bottomMajor ul li p{
    padding: 1vh 0;
    margin:1vh;
}
.bottomMajor ul li img{
    display: block;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}
.bottomMajor .nowSurf{
    background-color: #243D99;
    border-radius: 15px;
    color: #FFFFFF;
}
.passive{
    color: #CCCCCC;
}

/*院系概览内容 - 学院*/
/*通用header*/
.majorHead{
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #eeeeee;
}
.majorHead a{
    width: 60px;
    height: 60px;
    position: absolute;
    background: url(../images/院系概览/arrowhead7.png) left center no-repeat;
    background-size: 20px 20px;
}
.majorHead h3{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
/*院系概览 - 通院*/
.tongyuan_content {
    width: 100%;
}
.tongyuan_content img{
    width: 100%;
}
/*院系概览 - 电院*/
.dian_content{
    width: 100%;
}
.dian_content img{
    width: 100%;
}
/*院系概览 - 计软院*/
.jiruan_content{
    width: 100%;
}
.jiruan_content img{
    width: 100%;
}
/*院系概览 - 自动化*/
.zidonghua_content{
    width: 100%;
}
.zidonghua_content img{
    width: 100%;
}
/*院系概览 - 材料*/
.cailiao_content{
    width: 100%;
}
.cailiao_content img{
    width: 100%;
}
/*院系概览 - 物联网*/
.wulianwang_content{
    width: 100%;
}
.wulianwang_content img{
    width: 100%;
}
/*院系概览 - 理院*/
.liyuan_content{
    width: 100%;
}
.liyuan_content img{
    width: 100%;
}
/*院系概览 - 地生院*/
.disheng_content{
    width: 100%;
}
.disheng_content img{
    width: 100%;
}
/*院系概览 - 传媒院*/
.chuanmei_content{
    width: 100%;
}
.chuanmei_content img{
    width: 100%;
}
/*院系概览 - 管院*/
.guanyuan_content{
    width: 100%;
}
.guanyuan_content img{
    width: 100%;
}
/*院系概览 - 经院*/
.jingyuan_content{
    width: 100%;
}
.jingyuan_content img{
    width: 100%;
}
/*院系概览 - 人文院*/
.renwen_content{
    width: 100%;
}
.renwen_content img{
    width: 100%;
}
/*院系概览 - 外院*/
.waiyuan_content{
    width: 100%;
}
.waiyuan_content img{
    width: 100%;
}
/*院系概览 - 教科*/
.jiaoke_content{
    width: 100%;
}
.jiaoke_content img{
    width: 100%;
}
/*院系概览 - 贝院*/
.beiyuan_content{
    width: 100%;
}
.beiyuan_content img{
    width: 100%;
}
/*学校章程*/
.college_rule{
    width: 100%;
    cursor: pointer;
}
.headRule{
    width: 100%;
    /*border-bottom: 1px solid #CCCCCC;*/
}
.headRule .backRule{
    width: 45px;
    height: 45px;
    float: left;
    background: url(../images/南邮概况/arrowhead7.png) left 10px center no-repeat;
    background-size: 16px 16px;
}
.headRule .titleRule{
    width: 100%;
    text-align: center;
    padding: 8px;
    /*text-indent: 1.5em;*/
}
.headRule .lineRule{
    display: block;
    width: 20%;
    height: 3px;
    background-color: #d8505c;
    margin: 0 auto;
}
.ruleContent{
    width: 100%;
}
.ruleContent img{
    display: block;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

/*南邮校史*/
.college_history{
    width: 100%;
    cursor: pointer;
}
.history_content{
    width: 100%;
}
.history_content p{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding:10px;
    text-indent: 2em;
}

/*刘陈*/
.liuchen{
    width: 100%;
    cursor: pointer;
}
.liuchen img{
    margin-top: 45px;
}
.leaders{
    width: 100%;
    cursor: pointer;
}
.leaderBack{
    width: 100%;
    height: 45px;
    float: left;
    background: url(../images/南邮概况/arrowhead7.png) left 10px center no-repeat;
    background-size: 16px 16px;
}
.leaders img{
    display: block;
    width: 90%;
    height: 90%;
    margin: 45px auto;
}
.leaders h3,h4{
    text-align: center;
    padding: 5px;
}
.leaders p{
    display: block;
    text-indent: 2em;
    padding: 8px;
}
/*杨震*/
.yangzhen{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;

}
/*王成宽*/
.wangchengkuan{
    width: 100%;
    cursor: pointer;
    margin-top: 45px;
}
.zhangzhihua{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.zhounanping{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.wangzongrong{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.liziquan{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.wanglianhui{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.imgBox2 img{
    display: block;
    width: 50%;
    height: 50%;
    margin-top: 45px;
}
.wangguoping{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.jiangguoping{
    width: 100%;
    cursor: pointer;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.leader1{cursor: pointer}
.leader2{cursor: pointer}
.leader3{cursor: pointer}
.leader4{cursor: pointer}
.leader5{cursor: pointer}
.leader6{cursor: pointer}
.leader7{cursor: pointer}
.leader8{cursor: pointer}
.leader9{cursor: pointer}
.leader10{cursor: pointer}


/*军训攻略*/
.military_training{
    width: 100%;
}
.military_training header{
    width: 100%;
    background-color: #243D99;
    height: 60px;
}
.military_training h3{
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    text-indent: -3em;
}
.militaryBar{
    width: 45px;
    height: 45px;
    /*float: left;*/
    /*background: url(../images/南邮概况/arrowhead7_01.png) left 15px center no-repeat;*/
    /*background-size: 16px 16px;*/
    margin-top: 5px;
}
.militaryImg{
    width: 100%;
}
.militaryImg img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
/*技能学习 - 语言入门*/
/*C语言*/
.learnC{
    width: 100%;
}
.skillHeader{
    position: absolute;
    width: 100%;
    height: 45px;
    background-color: #4bb1cf;
    background-size: 24px 24px;
    float: left;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
}
.learnC img{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 45px;
}

/*C++的入门*/
.learnCPP{
    width: 100%;
}
.learnCPP h3{
    width: 100%;
    text-align: center;
    font-weight: normal;
    padding: 10px 0;
}
.middleLearn{
    width: 100%;
    height: 60px;
    padding:50px 0;
    margin-bottom: 10px;
}
.middleLearn{
    margin-bottom: 8px;
}
.middleLearn .EClassTech{
    display: block;
    text-align: left;
    padding: 10px;
    height: 60px;
}
.iconBear{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background: url(../images/技能学习/超人熊.png) left 15px center no-repeat;
    background-size: 36px 36px;
}
.learnCPP_content{
    padding-top: 15px;
}
.learnCPP_content p{
     text-indent: 2em;
     display: block;
     width: 100%;
     font-size: 13px;
     line-height: 25px;
     padding:  0 5px;
 }
.learnCPP_content ul{
    width: 100%;
    margin-bottom: 5vh;
}
.learnCPP_content ul li{
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}
/*Java学习*/
.learnJava{
    width: 100%;
}
.learnJava h3{
    text-align: center;
    font-weight: normal;
}
.learnJava_content p{
    width: 100%;
    font-size: 13px;
    text-indent: 2em;
    padding: 0 10px;
}
.learnJava_content li{
    width: 100%;
    font-size: 13px;
    padding: 0 10px;
    line-height: 26px;
}
.learnJava_content a:hover{
    color: #243D99;
    border-bottom: 1px solid #243D99;
}
.learnJava_content ul{
    margin-bottom: 5vh;
}

/*Python学习*/
.learnPython{
    width: 100%;
}
.learnPython_content{
    width: 100%;
}
.learnPython h3{
    text-align: center;
    font-weight: normal;
}
.learnPython_content p{
    width: 100%;
    text-indent: 2em;
    padding: 0 10px;
    line-height: 30px;
}
.learnPython_content ul{
    width: 100%;
    padding-bottom: 25px;
}
.learnPython_content ul a:hover{
    color: #243D99;
    border-bottom: 1px solid #243D99;
}
.learnPython_content ul li{
    width: 100%;
    line-height: 25px;
    padding: 0 10px;
}
.learnPython h4{
    margin: 15px 0;
}

/*前端学习*/
.learnUI{
    width: 100%;
}
.learnUI h3{
    text-align: center;
    font-weight: normal;
}
.learnUI_content p{
    width: 100%;
    padding: 0 10px;
    text-indent: 2em;
}
.learnUI_content{
    width: 100%;
}
.learnUI_content ul{
    width: 100%;
}
.learnUI_content ul li{
    width: 100%;
    padding: 0 10px;
    line-height: 25px;
}
.learnUI_content a:hover{
    color: #243D99;
    border-bottom: 1px solid #243D99;
}

/*设计学习*/
.learnDesign{
    width: 100%;
}
.learnDesign h3{
    text-align: center;
    font-weight: normal;
}
.learnDesign_content{
    width: 100%;
}
.learnDesign_content p{
    text-indent: 2em;
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
}
.learnDesign_content ul{
    width: 100%;
    margin: 10px 0;
}
.learnDesign_content ul li{
    width: 100%;
    line-height: 25px;
}
.learnDesign_content a:hover{
    color: #243D99;
    border-bottom: 1px solid #243D99;
}

/*生活攻略内容*/
/*衣在南邮*/
.cloth{
    width: 100%;
    height: 100vh;
    background: url(../images/生活攻略/衣在南邮/背景图.jpeg) no-repeat;
    background-size: 100% 100vh;
}
.clothHeader{
    width: 100%;
    height: 10vh;
    background-color: #243D99;
    /*padding: 6px;*/
    position: relative;
}
.clothHeader .backIcon{
    width: 60px;
    height: 45px;
    position: absolute;
    background: url(../images/南邮概况/arrowhead7_01.png) left center no-repeat;
    background-size: 20px 20px;
    color: #ffffff;
}
.clothHeader .backIcon span{
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.clothHeader .clothIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/衣在南邮/南京天气.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 6px;
}
.clothHeader h3{
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    /*padding: 10px 50px;*/
    text-align: center;
    color: #ffffff;
}
.cloth_content {
    width: 100%;
}
.cloth_content .weather{
    width: 100%;
    margin-top: 10vh;
    height: 10vh;
}
.cloth_content .weather span{
    width: 50px;
    height: 50px;
    float: left;
    background: url(../images/生活攻略/衣在南邮/南邮校徽.jpeg) left center no-repeat;
    background-size: 50px 50px;
    margin:  10px 0 0 5px;
}
.cloth_content .weather a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background: url(../images/生活攻略/衣在南邮/对话框_01.png) left 60px center no-repeat;
    background-size: 205px 100px;
}
.cloth_content .shopping{
    width: 100%;
    margin-top: 15vh;
}
.cloth_content .shopping span {
    width: 50px;
    height: 50px;
    float: right;
    background: url(../images/生活攻略/衣在南邮/南邮校徽.jpeg) right center no-repeat;
    background-size: 50px 50px;
    margin-right: 5px;
}
.cloth_content .shopping a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    background: url(../images/生活攻略/衣在南邮/对话框_02.png) right 60px center no-repeat;
    background-size: 205px 100px;
}
/*南京天气*/
.weatherOFnj{
    width: 100%;
}
.weather_content{
    width: 100%;
}
.weather_content ul{
    width: 100%;
}
.weather_content ul li{
    width: 100%;
}
.weather_content ul li img{
    width: 100%;
}

/*周围商区*/
.shops{
    width: 100%;
    position: relative;
}
.shopIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/衣在南邮/周围商区/周围商区.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 10px;
}
.shops img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
/*食在南邮*/
.food{
    width: 100%;
    height: 100vh;
    background: url(../images/生活攻略/食在南邮/背景图.jpeg) center no-repeat;
    background-size: 100% 100%;
}
.foodIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/食在南邮/食在南邮.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 10px;
}
.food_content{
    width: 100%;
}
.canteen{
    width: 100%;
    margin-top: 12vh;
}
.canteen span{
    width: 50px;
    height: 50px;
    float: left;
    background: url(../images/生活攻略/食在南邮/南邮校徽.jpeg) left center no-repeat;
    background-size: 50px 50px;
    margin-left: 5px;
}
.canteen a{
    display: block;
    width: 100%;
    height: 100px;
    background: url(../images/生活攻略/食在南邮/对话框_03.png) left 55px center no-repeat;
    background-size: 200px 98px;
}
.delicious{
    width: 100%;
    margin-top: 10vh;
}
.delicious span{
    width: 50px;
    height: 50px;
    float: right;
    background: url(../images/生活攻略/食在南邮/南邮校徽.jpeg) right center no-repeat;
    background-size: 50px 50px;
    margin-right: 5px;
}
.delicious a {
    display: block;
    width: 100%;
    /*固定高度*/
    height: 100px;
    background: url(../images/生活攻略/食在南邮/对话框_04.png) right 55px center no-repeat;
    background-size: 200px 98px;
}

.deliciousIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/食在南邮/周边美食.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 10px;
}
.delicious_content{
    width: 100%;
}
.delicious_content ul{
    width: 100%;
}
.delicious_content ul li{
    width: 100%;
}
.delicious_content ul li img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
/*食堂介绍*/
.IntroCanteen {
    width: 100%;
    height: 100vh;
    position: relative;
}
.IntroCanteen img {
    width: 100%;
}
.IntroCanteen .canteenIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/食在南邮/食堂介绍/食堂介绍.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 10px;
}
.bottomChoice{
    width: 100%;
    background-color: #243D99;
    height: 60px;
    position: absolute;
    bottom: 0;
}
.bottomChoice ul{
    width: 100%;
 }
.bottomChoice ul li{
    width: 50%;
    float: left;
}
.bottomChoice ul li p{
    color: #ffffff;
    height: 60px;
    line-height: 100px;
    text-align: center;
}
/*住在南邮*/
.liveNJUPT{
    width: 100%;
    height: 100vh;
    background: url(../images/生活攻略/住在南邮/背景图.jpeg) center no-repeat;
    background-size: 100% 100%;
}
.liveNJUPT .liveIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/住在南邮/住在南邮.png) right center no-repeat;
    background-size: 40px 40px;
    right:10px;
    top: 10px;
}
.live_content{
    width: 100%;
}
.dormitory{
    width: 100%;
    margin-top: 12vh;
}
.dormitory span{
    width: 55px;
    height: 55px;
    float: left;
    background: url(../images/生活攻略/住在南邮/南邮校徽.jpeg) left center no-repeat;
    background-size: 55px 55px;
    margin-left: 5px;
}
.dormitory a{
    display: block;
    width: 100%;
    /*固定高度*/
    height: 100px;
    background: url(../images/生活攻略/住在南邮/对话框_05.png) left 60px center no-repeat;
    background-size: 205px 100px;
}
.campus_safe{
    width: 100%;
    margin-top: 10vh;
}
.campus_safe span{
    width: 55px;
    height: 55px;
    float: right;
    background: url(../images/生活攻略/住在南邮/南邮校徽.jpeg) right center no-repeat;
    background-size: 55px 55px;
    margin-right: 5px;
}
.campus_safe a{
    display: block;
    width: 100%;
    /*固定高度*/
    height: 100px;
    background: url(../images/生活攻略/住在南邮/对话框_06.png) right 60px center no-repeat;
    background-size: 205px 100px;
}
/*宿舍介绍*/
.IntroDormitory{
    width: 100%;
    position: relative;
}
.dormitoryIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/住在南邮/宿舍介绍/宿舍介绍.png) center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.IntroDormitory img{
    width: 100%;
    display: block;
    margin-bottom: 8vh;
}
/*校园安全*/
.safety{
    width: 100%;
}
.safetyIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/住在南邮/校园安全/校园安全.png) center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.safety img{
    width: 100%;
    margin-bottom: 10vh;
}
/*行在南邮*/
.walk{
    width: 100%;
    height: 100vh;
}
.walkIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/行在南邮/行在南邮.png)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.walk_content{
    width: 100%;
    height: 90vh;
    background: url(../images/生活攻略/行在南邮/背景图.jpeg) no-repeat;
    background-size: 100% 90vh;
}
.walk_content a{
    display: block;
    /*width: 100%;*/
    height: 100px;
}
.walk_content a.leftLinkPos{
    margin-left: 58px;
    margin-top:4px;
}
.walk_content a.rightLinkPos{
    margin-right: 65px;
}
.walk_content span.leftFloatIcon{
    width: 51px;
    height: 51px;
    background: url(../images/生活攻略/住在南邮/南邮校徽.jpeg) left center no-repeat;
    float: left;
    background-size: 50px 50px;
    margin-left: 5px;
}
.walk_content span.rightFloatIcon{
    width: 51px;
    height: 51px;
    background: url(../images/生活攻略/住在南邮/南邮校徽.jpeg) right center no-repeat;
    float: right;
    background-size: 50px 50px;
    margin-right: 5px;
}
.laoxiang{
    padding-top: 8vh;
}
.laoxiang a{
    background: url(../images/生活攻略/行在南邮/对话框_07.png) left center no-repeat;
    background-size: 230px 112px;
}
.trip{
    padding-top: 8vh;
}
.trip a{
    background: url(../images/生活攻略/行在南邮/对话框_08.png) right center no-repeat;
    background-size: 230px 112px;
}
.xinsheng{
    padding-top: 8vh;
}
.xinsheng a{
    background: url(../images/生活攻略/行在南邮/对话框_09.png) left center no-repeat;
    background-size: 230px 112px;
}
.schoolBus{
    padding-top: 8vh;
}
.schoolBus a{
    background: url(../images/生活攻略/行在南邮/对话框_10.png) right center no-repeat;
    background-size: 230px 112px;
}
/*老乡群*/
.laoxiang_group{
    width: 100%;
    height: 100vh;
}
.laoxiang_group .laoxiangIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/行在南邮/老乡群.png)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.LX_content1 h4,p{
    text-align: center;
    line-height: 25px;
}
.LX_content1 h3{
    padding: 5px 0;
}
.LX_content2 h4,p{
    text-align: center;
    line-height: 25px;
}
.LX_content2 h3{
    padding: 5px 0;
}
/*南京旅游地点*/
.tripSight{
    width: 100%;
}
.tripSight .tripSightIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/行在南邮/南京旅游地点.png)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.tripSight_content{
    width: 100%;
}
.tripSight_content ul{
    width: 100%;
}
.tripSight_content ul li{
    width: 100%;
}
.tripSight_content ul li img{
    width: 100%;
}
/*校车时刻表*/
.schooldBusSchedule{
    width: 100%;
}
.sbScheduleIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/行在南邮/校车时刻表.png)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.schedule_content{
    width: 100%;
}
.schedule_content img{
    width: 100%;
}
/*心理咨询*/
.psychologicalConsult{
    width: 100%;
}
.psyIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/心理咨询.jpeg)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.psy_content{
    width: 100%;
}
.psy_content img{
    width: 100%;
}
/*校园公共账号*/
.publicAccount{
    width: 100%;
}
.publicAccount .accountIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/校园公共账号.jpeg)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.account_content .account_content1{
    width: 100%;
}
.account_content .account_content1 h4{
    padding: 15px 0;
}
.account_content .account_content1 p{
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}
.account_content .account_content2{
    width: 100%;
}
.account_content .account_content2 h4{
    padding: 15px 0;
}
.account_content .account_content2 p{
    line-height: 30px;
    text-align: left;
    padding-left: 20px;
}
/*新生群*/
.fm_group{
    width: 100%;
}
.xinshengIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/新生群.png)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.fmGroup_content{
    width: 100%;
}
.fmGroup_content ul{
    width: 100%;
    padding: 25px 0;
}
.fmGroup_content ul li {
    width: 100%;
}
.fmGroup_content ul li p{
    line-height: 30px;
    text-align: center;
}
/*小程序*/
.chatchat{
    width: 100%;
}
.chatchat .chatIcon{
    width: 45px;
    height: 45px;
    position: absolute;
    background: url(../images/生活攻略/小程序.jpeg)right center no-repeat;
    background-size: 40px 40px;
    right: 10px;
    top: 13px;
}
.chat_content{
    width: 100%;
}
.chat_content img{
    width: 100%;
}

