.navBarIcon{
    width: 42px;
    height: 42px;
    background: url(../images/首页/导航栏.png) left 15px center no-repeat;
    background-size: 15px 12px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 999999999;
}
.navBarIcon:hover{
    cursor: pointer;
}
@media (min-width: 500px) {
    .navBarSlide{
        width: 25vw;
    }
}
/*设置滚动条样式*/
.navBarSlide::-webkit-scrollbar{
    width: 1px;
}
.navBarSlide{
    width: 100%;
    height: 100%;
    background-color: #1D7AD9;
    opacity: 0.9;
    min-height: 100vh;
    transform: translate(-100vw,0);
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0px;
    bottom: 0;
    z-index: 999999;
}
.restPart1{
    display: block;
    height: 15.625vh;
    width: 100vw;
}
.restPart2{
    display: block;
    height: 15.625vh;
    width: 100vw;
}
.navBarSlide ul.dropdown{
    width: 100%;
    text-align: center;
    margin-top: 0vh;
}
.navBarSlide ul li{
    width: 100%;
}
.navBarSlide ul li a{
    display: block;
    width: 100%;
}
.navBarSlide ul li a:hover{
    background-color: #cccccc;
    opacity: 0.5;
}
.navBarSlide ul li a h3{
    height: 35px;
    line-height: 35px;
    padding-bottom: 5px;
}