/*居中样式*/
.overview_njupt{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

/*头顶标题部分*/
.headerBar{
    width: 100%;
    height: 60px;
    /*background-color: #666666;*/
    position: relative;
}
.headerBar .overview_icon{
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    background: url(../images/arrowhead7_01.png) left 15px center no-repeat;
    background-size: 16px 16px;
}
.headerBar .overview_title{
    width: 100%;
    overflow: hidden;
    padding-left: 45px;
    position: absolute;
    text-align: center;
    text-indent: -2em;
    height: 45px;
    line-height: 45px;
}


/*主题内容部分*/
.overview_Content{
    width: 100%;
    height: 150px;
}
.overview_Content ul{
    width: 100%;
}
.overview_Content ul li{
    width: 50%;
    float: left;
}
.overview_Content ul li a{
    width: 100%;
    display: block;
}
.overview_Content ul li a img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 10px;
}
.overview_Content ul li a p{
    display: block;
    text-align: center;
    font-weight: bold;
}








